<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>哎呦网首页  唯一一家唐诗宋词取名网站</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="诗名，根据古诗起名字，公司名字，古诗起公司名字，类似于百度取自于‘众里寻她千百度’，古诗分类，诗词名句起名字，个人起名，通俗易懂，像赶集网，百姓网，知名童话故事，如阿里巴巴">
		<meta name="description" content="根据古诗取名字，有诗意，逼格高，词达意到，最知名的莫过于百度的‘众里寻她千百度，蓦然回首，那人却在灯火阑珊处’，诗情画意，逼格甚高">
		<link rel="Shortcut Icon" href="images/iu-logo.ico">
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<style>
			#ilo{
				width: 500px;
				height: 35px;
				line-height: 35px;
  				text-align: center;
			}
			
			#ilput{
				width: 100px;
				  height: 50px;
				  line-height: 50px;
				  text-align: center;
				  background: #38D38D;
				  color: #FFF;
				  font-family: "microsoft yahei";
				  font-weight: bold;
				  font-size: 20px;
  				display: none;
			}
			#ilo a{
				display: block;
				width: 100%;
				height: 100%;
				text-decoration: none;
				background: #38d38d;
				color: #FFF;
				font-family: "microsoft yahei";
			}
		</style>
	</head>
	<body>
		<canvas id="text" width="500" height="100"></canvas>
			<canvas id="stage" width="500" height="100"></canvas>
			<form id="form">
			    <select id="sex">
			    	<option value="0">性别</option>
			    	<option value="1">男</option>
			    	<option value="2">女</option>
			    </select><input type="text" id="inputText" value="" placeholder="输入姓氏"/>
			    <input type="submit" value="点我" style="background: #38d38d;font-family: '微软雅黑';"/>
			</form>
			<div id="ilo"><a href="html/index.html">点我,给你们来点真格的</a></div>
			<div id="ilput"></div>
			<div style="text-align:center;clear:both">
			</div>
			
		      <script src="js/names.js"></script>
		      <script src="js/laonames.js"></script>
		      <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
			  <script src='js/EasePack.min.js'></script>
			  <script src='js/TweenLite.min.js'></script>
			  <script src='js/easeljs-0.7.1.min.js'></script>
			  <script src='js/requestAnimationFrame.js'></script>
			  <script src="js/index.js"></script>
	</body>
</html>
